# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/
RemoteSystemsTempFiles/
xsdValidatoer/GML_Paredes_final.gml
*.classpath
xsdValidatoer/gml.gml
xsdValidatoer/Schema.xsd
xsdValidatoer/SchemaGML.xsd
xsdValidatoer/.settings/org.eclipse.jdt.core.prefs
xsdValidatoer/.settings/org.eclipse.m2e.core.prefs
xsdValidatoer/xml.xml
